<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096465616223-jc40c7o2iks09e1p751id5n7sehrn0ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096465616223-jc40c7o2iks09e1p751id5n7sehrn0ma</string>
	<key>API_KEY</key>
	<string>AIzaSyBTrecBcFEnZ6hPt2Ltr4ajyLizJp9RVhE</string>
	<key>GCM_SENDER_ID</key>
	<string>1096465616223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vocdoni.app.dev</string>
	<key>PROJECT_ID</key>
	<string>vocdoni-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>vocdoni-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096465616223:ios:d36349d5f6125817fa3aea</string>
	<key>DATABASE_URL</key>
	<string>https://vocdoni-app-dev.firebaseio.com</string>
</dict>
</plist>